@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

body {
    /* background-color: rgb(240, 239, 239); */
    background-color: #FFE1DE;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

img {
    filter: grayscale(100%);
}

h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
}

#h1_logo {
    color: white;
    text-decoration: italic;
}



h2 {
   font-family: 'Montserrat Subrayada', sans-serif; 
}

h3 {
    font-size: 2rem;
    margin: 0;
}

#header-text {
    flex-basis: 80%;
    display: flex;
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

a, p {
    font-family: monospace;
}

/* createStory Styles */

#createStory {
    margin: 3%;
}

#CreateStoryTitle {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #FFE1DE;
    color: #fff;
    font-size: 3rem;
    /* add padding to 'sign up now' */
    padding: 3%;
    /* add 0 margin to remove the gap between the form and the label */
    margin: 0;
    /* centre align the text */
    text-align: center;
}

#form-button {
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
}
