{% extends 'base.html' %}

{% load static %}
    
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

<div id="createStory">
    <h4 id="CreateStoryTitle">Create New Story</h4>
    <div id="form-item">
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input id="form-button" type="submit" value="Submit">

        </form>
    </div>   
</div>

{% endblock content %}